<%-include('layout/layout')%>
<h1>Adicionar Nuevo Ingreso</h1>
      <div class="container">
        <form method="post" action="/api/ingresos/semanas/">
          <div class="mb-3">
            <label class="form-label">Monto</label>
            <input type="number" class="form-control" id="monto" name="monto" aria-describedby="monto">
            
            <label class="form-label">Fecha Inicio Semana</label>
            <input type="date" class="form-control" id="fechaInicioSemana" name="fechaInicioSemana" aria-describedby="FechaInicioSemana">
            
            <label class="form-label">Fecha Final Semana</label>
            <input type="date" class="form-control" id="fechaFinalSemana" name="fechaFinalSemana" aria-describedby="FechaFinalSemana">
            
            <label class="form-label">Cantidad de Horas Trabajadas</label>
            <input type="number" class="form-control" id="cantHorasTrabajadas" name="cantHorasTrabajadas" aria-describedby="cantHorasTrabajadas">
          </div>
          <button type="submit" class="btn btn-primary">Add</button>
        </form>
      </div>    