<%-include('layout/layout')%>
<form method="post" action="/api/ingresos/semanas/descuento">
    <div class="mb-3">
        <h1>Seleccione las fechas de la semana a Calcular Descuento</h1>
      <label for="exampleInputFechaInicioSemana" class="form-label">Fechas Inicio de Semana</label>
      <input type="date" class="form-control" id="FechaInicioSemana" name="FechaInicioSemana" aria-describedby="FechaInicioSemana">
      </div>
    <div class="mb-3">
      <label for="exampleInputFechaFinalSemana" class="form-label">Fecha Final de Semana</label>
      <input type="date" class="form-control" id="FechaFinalSemana"name="FechaFinalSemana">
    </div>
    <button type="submit" class="btn btn-primary">Calcular Descuento</button>
  </form>

  